@keyframes fadeInFromAbove {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.third-viewport-height {
  margin-top: 33.33vh;
}
