@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme("colors.stone.800");
  border-radius: 8px;
  padding-top: 24rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.stone.700");
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.stone.600");
}
